body {
  text-align: left;
  margin: 50px 300px;
}
h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
}
nav {
  margin-bottom: 80px;
}
nav li {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  padding-right: 30px;
}
nav ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
article h1 {
  margin-bottom: 0;
}
p {
  font-family: 'Times New Roman' sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #474747;
  font-weight: 400;
}
a {
  color: #799ead;
  text-decoration: none;
}
a:hover {
  color: #4dccff;
}
h1:hover {
  color: #4dccff;
}
.small {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 15px;
  color: #9c9c9c;
}
.support {
  font-family: 'Times New Roman' sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #474747;
  line-height: 27px;
  font-weight: 400px;
  padding-bottom: 40px;
}
aside h3{
  margin-top: 60px;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: 700;
}
aside ol {
  list-style: none;
  padding-left: 0;
}
aside li {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
}
footer p {
  font-family: 'Vollkorn', serif;
  color: #799ead;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  body {
    padding-left: 40px;
    margin: 10px 30px;
    width: 70%;
  }
}